@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1644541184445') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-9:before {
  content: "\f0034";
}

.icon-8:before {
  content: "\f0035";
}

.icon-7:before {
  content: "\f0036";
}

.icon-6:before {
  content: "\f0037";
}

.icon-5:before {
  content: "\f0038";
}

.icon-4:before {
  content: "\f0039";
}

.icon-3:before {
  content: "\f003a";
}

.icon-2:before {
  content: "\f003b";
}

.icon-dianzan:before {
  content: "\f010d";
}

.icon-guanyuwomen:before {
  content: "\e684";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-duanxin:before {
  content: "\e647";
}

.icon-1:before {
  content: "\e630";
}

.icon-et-more1:before {
  content: "\e66a";
}

.icon-liuyan:before {
  content: "\e65e";
}

.icon-kefu:before {
  content: "\e63c";
}

.icon-chakantiezigengduojubao:before {
  content: "\e66b";
}

.icon-top:before {
  content: "\e626";
}

.icon-shouye:before {
  content: "\e62a";
}

.icon-pinglun:before {
  content: "\e642";
}

.icon-weibiaoti-:before {
  content: "\e636";
}

.icon-shizhong:before {
  content: "\e54c";
}

.icon-shipin:before {
  content: "\e649";
}

.icon-yueliang:before {
  content: "\e6b8";
}

.icon-geren:before {
  content: "\e64c";
}

.icon-search:before {
  content: "\e72f";
}

.icon-hezuo:before {
  content: "\e605";
}

.icon-renzheng:before {
  content: "\e6a8";
}

.icon-shuaxin:before {
  content: "\e573";
}

.icon-weibo:before {
  content: "\e666";
}

.icon-fenxiang_2:before {
  content: "\e52c";
}

.icon-huatifuhao:before {
  content: "\e8b0";
}

.icon-hot:before {
  content: "\e753";
}

.icon-icon-test:before {
  content: "\e667";
}

.icon-huangguan:before {
  content: "\e615";
}

.icon-arrdown:before {
  content: "\e50c";
}

.icon-search1:before {
  content: "\e67d";
}

.icon-hongqi:before {
  content: "\e501";
}

